<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- External Scrips -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <!-- Local Scripts -->
    <script src="js/script.js" defer></script>  
    <title>Submit form using Mailgun + Node.js</title>
  </head>

  <body>
      <section>
        <div class="contact-wrapper">
          <h2>Contact me</h2>
          <div class="form-wrapper">
            <form>
              <div class="form-labels">
                <label for="subject">Subject:</label><br/>
                <input type="text" name="subject" id="form-subject" class="form-control" placeholder="Subject" required><br/>
                <label for="email">Email:</label><br/>
                <input type="email" name="email" id="form-email" class="form-control" placeholder="Email" required><br/>
              </div>
              <div class="form-message"><br/>
                <label for="text">Message:</label><br/>
                <textarea name="text" id="form-text" class="form-control" cols="20" rows="5"></textarea><br/>
            </div>
              <input type="submit" class="btn btn-primary" value="Submit">
            </form>
          </div> 
        </div>
      </section> 
  </body>
</html> 
